
/*-------------------------------------Global___________________________________*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
}

/*---------------------------------D00MSKY section-------------------------------*/

#D-width{
    width: 100%;
    justify-content: center;

}
.D-flex{
    display: flex;
}
#D-BG{
    width: 1440px;
    height: 71.19vh;
    background-image: url("D-assets/coffe.png");
    background-size: cover;
}
#D-cup{
    width: 50px;
    height: 50px;
    background-image: url("D-assets/coffee-cup (1) 1.svg");
    background-size: cover;
    position: relative;
    top: 5px;
}
header{
    height: 10vh;
    justify-content: space-between;
    align-items: end;
    padding-right: 25%;
    padding-left: 25%;

}
#D-cup\&coffee{
    width: 18%;
    justify-content: space-between;
    align-items: end;
    position: relative;
    top: 3px;
}
a{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
    text-decoration: none;
}


#D-menu{
    opacity: 0.8;
    transition: 0.3s;
}
#D-menu:hover{
    color: snow;
    opacity: 1;
    transition: 0.3s;
    transform: scale(110%);
}
#D-coffee{
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
}
#D-home{
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    opacity: 1;
    transition: 0.3s;
}

#D-first{
    width: 100%;
    color: #FFF;
    font-family: "Josefin Sans", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
#D-second{
    width: 100%;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.8;
}
#D-buyButton{
    width: 30%;
    height: 45px;
    border-radius: 5px;
    background: #FF4B32;
}
#D-buyButton:hover{
    transform: scale(105%);
    transition: 0.5s;
    background: #e0270d;
}
#D-buttonText{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}
#D-align{
    width: 35%;
    height: 42vh;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 8%;
    top: 10vh;

}
#D-home:hover{
    color: snow;
    transition: 0.3s;
    transform: scale(110%);
}
a:hover{
    color: snow;
    opacity: 1;
    transition: 0.3s;
    transform: scale(110%);
}

/*---------------------------------Inkorlet section-------------------------------*/
/*----------------------------------text-----------------------------*/
.i_first{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 6.45px;
    margin-top: 13.67vh;
    margin-left: 147px;
}
.i_second{
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 1.95vh;
    margin-left: 147px;
    opacity: 0.7;
}
/*------------------------------------перші фото----------------------------*/
.i_coffee{
    display: flex;
    justify-content: space-between;
    margin-top: 5.86vh;
}
.i_coffee_1{
    width: 300px;
    margin-left: 147px;
}
.i_coffee_2{
    width: 300px;
}
.i_coffee_3{
    width: 300px;
    margin-right: 147px;
}
.i_img1{
    width: 300px;
    height: 265px;
}
.i_img2{
    width: 300px;
    height: 265px;
}
.i_img3{
    width: 300px;
    height: 265px;
}
.i_coffee1_p1, .i_coffee2_p1, .i_coffee3_p1{
    color: #0C0D0C;

    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-top: 3.42vh;
}
.i_coffee1_p2, .i_coffee2_p2, .i_coffee3_p2{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-top: 0.98vh;
}
.i_coffee1_p3, .i_coffee2_p3, .i_coffee3_p3{
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
    margin-top: 1.46vh;
}
/*------------------------------------------другі фото-----------------------*/
.i_third{
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-top: 22.18vh;
}
.i_fourth{
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
    margin-top: 1.95vh;
}
.i_coffee45{

}
.i_coffee4{
    display: flex;
    justify-content: space-between;
    margin-top: 5.86vh;
}
.i_coffee5{
    display: flex;
    justify-content: space-between;
    margin-top: 2.93vh;
}
.i_img4, .i_img7{
    margin-left: 147px;
}
.i_img6, .i_img9{
    margin-right: 147px;
}
.i_fifth{
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 7.32vh;
}